# Dependencies
node_modules

# Build output
dist
build
*.tsbuildinfo

# Logs
*.log
.dev.log
.dev.pid
.api.log
.api.pid
.npm
.pnpm-store

# Env
.env
.env.local
.env.*.local
!server/.env.example

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
